$slider-thickness: 16rem;
$track-thickness: 4rem;
$slider-padding: $slider-thickness / 2 - $track-thickness / 2;
$thumb-size: 8rem;
$slider-progress-color: #a4a4a4;

.base {
    position: relative;

    display: block;
    height: $slider-thickness;
    padding: $slider-padding 0;

    color: $slider-progress-color;

    cursor: pointer;
    user-select: none;

    &:focus {
        outline: none;
    }
}

.track {
    display: block;
    height: $track-thickness;

    background-color: #5a5a5a;
    border-radius: $track-thickness;
}

.thumb {
    position: absolute;
    transform: translate(-50%, calc(-50% - #{$track-thickness / 2}));

    width: $slider-thickness;
    height: $slider-thickness;

    &::before {
        content: "";

        position: absolute;
        inset: ($slider-thickness - $thumb-size) / 2;

        background-color: currentColor;
        border-radius: 50%;
        transition: transform .15s;
    }

    .base:focus &::before {
        transform: scale(1.618);
    }
}
